<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'welcome' %}">Awards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'welcome' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'new_project'%}">post project</a>
            <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
            <a class="dropdown-item" href="/accounts/profile">profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login">Login</a>
          <a class="nav-link" href="/accounts/register">register</a>

        </li>
        {% endif %}
      </ul>

      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search project" name="project">
          <div class="input-group-btn">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>

    </div>
  </nav>

  <!-- my navabr -->


  <!-- <nav class="navbar navbar-light" style="background-color: #DFDFDF"> -->
  <!-- Navbar content -->
  <!-- </nav> -->
</body>

</html>