{%extends 'projects/base.html'%}

{% block content %}
{% if projects %}
    {% for project in projects %}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{project.project_image.url}}" class="img-responsive" alt="Image">
                        <div class="card-body">
                            <h4 class="card-title">{{project.title}}</h4>
                            <p class="card-text">
                                {% autoescape on %}
                                {{project.description| safe}}
                                ` {% endautoescape %}<br>
                                {{project.name}}<br>
                                {{project.pub_date}}<br>
                            </p>
                            <a href="{{project.link}}" class="btn btn-primary">visit link</a>
                        </div>
                    </div>
                </div><br>
            </div><br>
        </div>

    {%endfor%}
{%endif%}
{% endblock %}